<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dum">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/new_dum_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/dum_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DUM">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login"/>
        <activity android:name=".register1"/>
        <activity android:name=".register2"/>
        <activity android:name=".findid_inputnumber"/>
        <activity android:name=".findid_vc"/>
        <activity android:name=".register_final"/>
        <activity android:name=".findpw_InputId"/>
        <activity android:name=".findpw_ChangePw"/>
    </application>

</manifest>